files:
    "/root/.ssh/config":
        owner: root
        group: root
        mode: "000600"
        content: |
            Host github.com
                User git
                Hostname github.com
                IdentityFile /root/.ssh/hyperbudget-bot-github-deploy
    "/root/.ssh/known_hosts":
        owner: root
        group: root
        mode: "000644"
        content: |
           |1|2yyvx9lY0TWpaekvDxOdbyp4X8Y=|mcU2PmmqK6Rd950AnuzbCSLiOU8= ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==

commands:
    01-command:
        command: sudo aws s3 cp s3://hyperbudget-bot-deployment-key/hyperbudget-bot-github-deploy /root/.ssh
    02-command:
        command: sudo chmod 600 /root/.ssh/hyperbudget-bot-github-deploy
