{{> top }}
  <form action="/report/breakdown" method="post" class="form">
    <div class="form-group">
    <label>
      First: <input type="month" name="start"/>
    </label>
    </div>
    <div class="form-group">
    <label>
      Last:&nbsp; <input type="month" name="end" />
    </label>
    </div>

    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Get breakdown" />
    </div>
  </form>
{{> bottom }}
